const firebaseConfig = {
  apiKey: "AIzaSyCMGgmDGj67yb7La_jt4QfUixMuTcz73Ak",
  authDomain: "linkedin-clone-23.firebaseapp.com",
  projectId: "linkedin-clone-23",
  storageBucket: "linkedin-clone-23.appspot.com",
  messagingSenderId: "90261355056",
  appId: "1:90261355056:web:3589be0c12b88fea7d0bf5"
};